@import "https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro&display=swap";

:root {
    --color-rocket: rgb(113, 89, 193);
    --color-rocket-light: rgb(138, 114, 219);
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color:var(--color-rocket-light);
    color: whitesmoke;
}

header {
    padding: 30px;
    background-color: var(--color-rocket);
}

header div {
    text-align: right;
}

.links a {
    margin: 0 30px;
    text-align: center;
    color: white;
    text-decoration: none;

}

.links a:hover {
    color: greenyellow;
    transition: color 200ms;
}

#wrapper {
    padding: 32px;
    text-align: center;
}

#wrapper img {
    border-radius: 50%;
    border: 2px solid var(--color-rocket-light);
    margin-bottom: 32px;
}

#wrapper h1 {
    line-height: 52px;
    font-size: 42px;
}

#wrapper p {
    max-width: 500px;
    margin: 32px auto;
    font-size: 16px;
    line-height: 26px;
}

#wrapper ul {
    margin-bottom: 32px;
    list-style-type: none;
    text-align: center;
}

#wrapper ul li {
    text-align: center;
    display: list-item;
    margin: 4px;
}

#social a {
    margin: 0 16px;
    font-weight: bold;
    border-bottom: 1px solid greenyellow;
}